# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / secrets
.env
.env.*
*.local

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# OS/editor trash
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Coverage / build
coverage/
dist/
build/
.nyc_output/
